body{
    width: 100%;
    background-color: grey;
    text-align: center;
}
header{
    height: 80px;
    color: white;
    font-family: sans-serif Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: left;
    margin-top: 9px;
}
.CALC{
    margin-left: 9px;
}
.screen{
    position: relative;
    align-self: center;
    margin-left: 9px;
    width: 92%;
    height: 90px;
    background: rgb(75, 71, 71);
    margin-bottom: 10px;
    color: white;
    font-size: 45px;
    text-align: right;
}
.container{
    position: relative;
    left: 35%;
    bottom: 35%;
    align-content: center;
    text-align: center;
    width: 370px;
    height: 500px;
    background: rgb(44, 43, 43);
    border-radius: 3px;
}
.part1{
    margin-left: 9px;
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px;
    grid-template-rows: 70px 70px 70px;
    border-radius: 5px;
}
.part2{
    margin-left: 9px;
    left: 350px;
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
}
.part2 button{
    width: 64px;
}
.btn1{
    width: 64px;
    height: 64px;
    border-radius: 3px;
    font-size: 24px;
}
.btn2{
    width: 64px;
    height: 64px;
    background: rgb(255, 51, 36);
}
.btn3{
    width: 64px;
    height: 64px;
    border-radius: 3px;
    font-size: 24px;
}
#SPEC{
    width: 128px;
    height: 64px;
    background: rgb(255, 51, 36);
}
.theme{
    margin-left: 130px;
    font-size: 12px;
    display: inline-flex;
}
.cont-t{
    margin-left: 23px;
    display: block;
    position: relative;
    top: -18px;
    right: 3px;
}
.cont{
    margin-left: 6px;
    background: rgb(87, 81, 81);
    font-size: 13px;
    width: 60px;
    display: block;
    text-align: center;
    border-radius: 15px;
}
input{
    width: 0px;
    height: 0px;
}
label{
    width: 13px;
}
.lab{
    margin-left: 6px;
    word-spacing: 14px;
}
.boule{
    position: absolute;
    top: 57%;
    left: 0%;
    width: 11px;
    height: 11px;
    background: red;
    border: 9px;
    border-radius: 100%;
}
.boule:hover{
    animation: slide 1s both 1 linear;
}
@keyframes slide{
    0%{transform: translateX(0);}
    50%{transform: translateX(28px);}
    100%{transform: translateX(50px);}
}
.result{
    font-size: 40px;
}